.navbar {
    /* padding: 10px 0px; */
    background-color: antiquewhite;
}

.heroSection img {
    width: 60%;
}

.heroSection ul li dt {
    font-weight: 600;
}

.heroSection ul li dd {
    font-weight: 400;
}

/* time line */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.container {
    width: 50%;
    padding: 10px 50px;
    position: relative;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1) {
    animation-delay: 0s;
}

.container:nth-child(2) {
    animation-delay: 0.5s;
}

.container:nth-child(3) {
    animation-delay: 0.75s;
}

.container:nth-child(4) {
    animation-delay: 1s;
}

.container:nth-child(5) {
    animation-delay: 1.5s;
}

.container:nth-child(6) {
    animation-delay: 2s;
}

.text-box {
    background-color: #fff;
    padding: 20px 30px;
    position: relative;
    font-size: 15px;
    border-radius: 6px;
}

.text-box h2 {
    font-weight: 600;
    font-size: 25px;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container {
    left: 0px;
}

.right-container {
    left: 50%;
}

.container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.experience .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 2s linear forwards;
}

.education .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 2s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-left: 15px solid #fff;
    border-bottom: 15px solid transparent;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-right: 15px solid #fff;
    border-bottom: 15px solid transparent;
    left: -15px;
}

.experience .title {
    text-align: center;
    margin: 50px 0;
}

.experience .title h1 {
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;
}

.education .title {
    text-align: center;
    margin: 80px 0;
}

.education .title h1 {
    font-size: 28px;
    font-weight: 600;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

    .experience .timeline,
    .education .timeline {
        margin: auto;
    }

    .experience .timeline::after,
    .education .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box {
        font-size: 13px;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .right-container {
        left: 0;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

}


@media screen and (max-width:574px ) {
    .navbar ul li a{
        display: flex !important;
                                    
    }
}